/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);


.text {
  fill: none;
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-dasharray: 70 350;
  stroke-dashoffset: 10;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
    font: 14.5em/1 Open Sans, Impact;

}

.text:nth-child(5n + 1) {
  stroke: #f23851;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #3377bb;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #bf99de;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

/* Other styles */
html, body {
  height: 100%;
}

body {


background: #000000; /* fallback for old browsers *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          text-transform: uppercase;
  margin: 0;
}

svg {
  position: absolute;
  left:50%;
  margin-left: -500px;
  width: 1000px;
  height: 300px;
  background:#000;
}

.textSize{
  font-size: 42px;
  color: #000066;
  text-align: center;
  vertical-align: center;
  font-family: 'Chewy', cursive;
}

figure {
  padding: 10px 20px 20px 10px;
  max-width: 100%;
  margin: 0 auto;
  list-style: none;
}

.la{
  height: 250px;
  width:250px;
   border: 10px solid #f0f0f5;
}

 li {
  display: inline-block;

  margin: 0;
  padding: 0px;
  text-align: center;
  position: relative;
  background-color: #00;
}

.pwe{
  color: white;
  text-align: left;
  float: left;
}
.la:hover{
border-color:#f0f0f5;
}

 figure {
  margin: 0;
  position: relative;
}

figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

figcaption {
  bottom: 0;
  left: 0;
  padding: 2px;
  background: #f0f0f5;
  color: #00000;
}

.la {visibility:hidden;}
  .la {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 1;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 1;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  